body
{
    background:black;
    font-family:cursive;
    color: #ff0800;
    font-size:30px;
    }
    h1{
        font-family:cursive;
        font-size:60px;
        color: green;
    } 